.auction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('../../assets/auction_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.auction__title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
  /* Place in the top left */
  position: absolute;
  top: 0;
  padding: 1rem;
}

.auction__bottom_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}
